.card-container {
    padding-top: 70px;
}

.tabs .tab a {
    color: black !important;
    background-color: #f5f5f5 !important;
    /*Custom Text Color*/
}

.tabs .tab a:hover {
    background-color: #eeeeee !important;
    /*Custom Color On Hover*/
}

.tabs .tab a.active {
    background-color: #bdbdbd !important;
    color: #000 !important;
}

.tabs .indicator {
    background-color: #424242 !important;
}

.dropdown-trigger {
    color: black;
}